infra/data/images/*
infra/data/documents/*
infra/data/temp_data/*
.obsidian/plugins/*
!.obsidian/plugins/calendar/
!.obsidian/plugins/calendar/**
!.obsidian/plugins/frontmatter-markdown-links/
!.obsidian/plugins/frontmatter-markdown-links/**
!.obsidian/plugins/frontmatter-modified-date/
!.obsidian/plugins/frontmatter-modified-date/**
!.obsidian/plugins/highlightr-plugin/
!.obsidian/plugins/highlightr-plugin/**
!.obsidian/plugins/obsidian-footnotes/
!.obsidian/plugins/obsidian-footnotes/**
!.obsidian/plugins/obsidian-icon-folder/
!.obsidian/plugins/obsidian-icon-folder/**
!.obsidian/plugins/obsidian-style-settings/
!.obsidian/plugins/obsidian-style-settings/**
!.obsidian/plugins/obsidian-tagfolder/
!.obsidian/plugins/obsidian-tagfolder/**
!.obsidian/plugins/templater-obsidian/
!.obsidian/plugins/templater-obsidian/**
!.obsidian/plugins/url-into-selection/
!.obsidian/plugins/url-into-selection/**
!.obsidian/plugins/obsidian-spaced-repetition/
!.obsidian/plugins/obsidian-spaced-repetition/**
!.obsidian/plugins/pexels-banner/
!.obsidian/plugins/pexels-banner/**
!.obsidian/plugins/folderbridge/
!.obsidian/plugins/folderbridge/**
!.obsidian/plugins/obsidian-git/
!.obsidian/plugins/obsidian-git/**
!.obsidian/plugins/homepage/
!.obsidian/plugins/homepage/**
!.obsidian/plugins/kanban-bases-view/
!.obsidian/plugins/kanban-bases-view/**
!.obsidian/plugins/terminal/
!.obsidian/plugins/terminal/**
!.obsidian/plugins/obsidian-editor-shortcuts/
!.obsidian/plugins/obsidian-editor-shortcuts/**
!.obsidian/plugins/obsidian-excalidraw-plugin/
!.obsidian/plugins/obsidian-excalidraw-plugin/**
!.obsidian/plugins/recent-files-obsidian/
!.obsidian/plugins/recent-files-obsidian/**
!.obsidian/plugins/table-editor-obsidian/
!.obsidian/plugins/table-editor-obsidian/**
.obsidian/themes/*
!.obsidian/themes/Prism/
!.obsidian/themes/Prism/**
.DS_Store
.claude/settings.local.json
.obsidian/workspace.json
.obsidian/workspaces.json
.obsidian/plugins/folderbridge/data.json